<phpunit
	backupGlobals="false"
	backupStaticAttributes="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	verbose="true"
    bootstrap="./vendor/autoload.php"
	>
	<testsuites>
		<testsuite name="basic-tests">
			<directory suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>